<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	 
	<!-- 启动触发器的配置开始 -->
	<bean name="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="T1" />
				<ref bean="T2" />
				<ref bean="T3" />
				<ref bean="T4" />
				<ref bean="T5" />
			</list>
		</property>
	</bean>
	<!-- 启动触发器的配置结束 -->

	<!-- 调度的配置开始 -->
	<bean id="T1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="timer1" />
		</property>
		<property name="cronExpression">
			<value>${TIMER.ADDRMB1}</value>
		</property>
	</bean>
	<bean id="T2" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="timer2" />
		</property>
		<property name="cronExpression">
			<value>${TIMER.ADDRMB2}</value>
		</property>
	</bean>
	<bean id="T3" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="timer3" />
		</property>
		<property name="cronExpression">
			<value>${TIMER.ADDRMB3}</value>
		</property>
	</bean>
	<bean id="T4" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="timer4" />
		</property>
		<property name="cronExpression">
			<value>${TIMER.ADDRMB4}</value>
		</property>
	</bean>
	<bean id="T5" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="timer5" />
		</property>
		<property name="cronExpression">
			<value>${TIMER.CLEARSTATUS}</value>
		</property>
	</bean>
	<!-- 调度的配置结束 -->

	<!-- timer的配置开始 -->
	<bean id="timer1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="addRmbTimer1" />
		</property>
		<property name="targetMethod">
			<value>addRmb</value>
		</property>
	</bean>
	<bean id="timer2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="addRmbTimer2" />
		</property>
		<property name="targetMethod">
			<value>addRmb</value>
		</property>
	</bean>
	<bean id="timer3" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="addRmbTimer3" />
		</property>
		<property name="targetMethod">
			<value>addRmb</value>
		</property>
	</bean>
	<bean id="timer4" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="addRmbTimer4" />
		</property>
		<property name="targetMethod">
			<value>addRmb</value>
		</property>
	</bean>
	<bean id="timer5" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="clearStatusTimer" />
		</property>
		<property name="targetMethod">
			<value>clearStauts</value>
		</property>
	</bean>
	<!-- timer的配置结束 -->

	<!-- 工作的bean -->
	<bean id="addRmbTimer1" class="com.ball.timer.SpringQtz" />
	<bean id="addRmbTimer2" class="com.ball.timer.SpringQtz" />
	<bean id="addRmbTimer3" class="com.ball.timer.SpringQtz" />
	<bean id="addRmbTimer4" class="com.ball.timer.SpringQtz" />
	<bean id="clearStatusTimer" class="com.ball.timer.SpringQtz" />

</beans>